* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root  {
    font-size: 62.5%;

    --tt-heading: #0C3440;
    --tt-label: #00453A;
    --tt-input: #212529;
    --bg-input:#DCE2E9;
    --ot-input: #02799D;
    --tt-button: #fff;
    --tt-placeholder: rgba(73, 80, 87, 0.30);
    --bd-input: rgba(73, 80, 87, 0.30);
    --bg-button: #02799D;
    --tt-error: #fff;
    --bg-error: #F03E3E;
}

body {
    font-size: 1.6rem;
    background-color: #040924;
    font-family: 'Roboto', sans-serif;
}

body, input,form button {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    line-height: 2.0rem;    
}

.container {
    place-items: center;
    display: grid;
    height: 100vh;
}

.card {
    padding: 4.8rem 6.4rem 6.4rem;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
    max-width: 42.8rem;
    margin-inline: auto;
}

.title {
    line-height: 4.0rem;
    font-size: 3.2rem;
}

form h1 {
    color: var(--tt-heading);
    font-family: Roboto;
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
}

form {
    width: 30rem;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.input-wrapper + .input-wrapper {
    margin-top: 1.6rem;
    margin-bottom: 5.0rem;
}   

label {
    color: var(--tt-label);
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-bottom: 0.8rem;
}

input {
    padding: 16px;
    background: var(--bg-input);
    border-radius: 4px;
    border: 1px solid var(--bd-input);
    color: var(--tt-input);
    width: 100%;
}

input:focus {
    outline: 2px solid var(--ot-input);
}

form button {
    width: 100%;
    height: 5.2rem;
    background: var(--bg-button);
    padding: 1.6rem;
    color: var(--tt-button);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    font-weight: 700;
    text-align: center;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

form button:hover {
    background: #026280;
}

/* pop-up */

.modal-wrapper.open {
    visibility: visible;
    opacity: 1;
}

.modal-wrapper {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.70);
    display: grid;
    place-items: center;
    visibility: hidden;
    opacity: 1;
}

.modal {
    position: relative;
}

.close {
    background: none;
    border: none;
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
    cursor: pointer;

    transition: transform 0.3s;
}

.close:hover {
    transform: scale(1.1);
}

.alert-error.open {
    visibility: visible;
    opacity: 1;

    transform: translateY(0);
}

.alert-error {
    position: absolute;
    background-color: var(--bg-error);
    color: var(--tt-error);
    top: 0;
    left: 0;
    right: 0;
    padding: 0.8rem 0;
    text-align: center;
    font-weight: 700;

    visibility: hidden;
    opacity: 0;

    transform: translateY(-30px);
    transition: transform 0.5s;
}

